paperhelper_env/
venv/
.venv/

__pycache__/
*.pyc
.env
.env.local

chromadb/
faiss_index/
vectorstore/
db/

*.pdf
cache/__pycache__/
*.pyc
.env
venv/
.env.local
*.ipynb_checkpoints
chromadb/
faiss_index/__pycache__
.idea
.streamlit/secrets.toml
*.pkl
*.faiss
.DS_Store
